cf-wsjavaclient/src/main/resources/OFSConnectorServiceWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://ofsconnector.webservices.temenos.com" xmlns:ax23="http://response.data.ofsconnector.services.temenos.com/xsd" xmlns:ax24="http://data.ofsconnector.services.temenos.com/xsd" xmlns:ax21="http://data.services.soa.temenos.com/xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:axis2="http://OFSConnectorServiceWs" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://OFSConnectorServiceWs">
    <wsdl:types>
        <xs:schema xmlns:ax25="http://data.ofsconnector.services.temenos.com/xsd" xmlns:ax26="http://data.services.soa.temenos.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://response.data.ofsconnector.services.temenos.com/xsd">
            <xs:import namespace="http://data.ofsconnector.services.temenos.com/xsd"/>
            <xs:import namespace="http://data.services.soa.temenos.com/xsd"/>
            <xs:complexType name="ProcessOFSwithOFSSourceIdResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ofsResponse" nillable="true" type="ax24:OFSConnResponse"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax21:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ProcessOFSResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ofsResponse" nillable="true" type="ax24:OFSConnResponse"/>
                    <xs:element minOccurs="0" name="responseDetails" nillable="true" type="ax21:ResponseDetails"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.ofsconnector.services.temenos.com/xsd">
            <xs:complexType name="OFSConnResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="ofsResponse" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax27="http://response.data.ofsconnector.services.temenos.com/xsd" xmlns:ax22="http://data.services.soa.temenos.com/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://ofsconnector.webservices.temenos.com">
            <xs:import namespace="http://data.services.soa.temenos.com/xsd"/>
            <xs:import namespace="http://response.data.ofsconnector.services.temenos.com/xsd"/>
            <xs:element name="processOFSwithOFSSourceId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax22:T24UserDetails"/>
                        <xs:element minOccurs="0" name="ofsRequest" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="ofsSourceId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processOFSwithOFSSourceIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ProcessOFSwithOFSSourceIdResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processOFS">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="userDetails" nillable="true" type="ax22:T24UserDetails"/>
                        <xs:element minOccurs="0" name="ofsRequest" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="processOFSResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax23:ProcessOFSResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://data.services.soa.temenos.com/xsd">
            <xs:complexType name="T24UserDetails">
                <xs:sequence>
                    <xs:element minOccurs="0" name="coCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="password" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="user" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ResponseDetails">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="responses" nillable="true" type="ax21:Response"/>
                    <xs:element minOccurs="0" name="returnCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="serviceName" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="responseCode" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseInfo" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseText" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="responseType" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="processOFSwithOFSSourceIdRequest">
        <wsdl:part name="parameters" element="ns:processOFSwithOFSSourceId"/>
    </wsdl:message>
    <wsdl:message name="processOFSwithOFSSourceIdResponse">
        <wsdl:part name="parameters" element="ns:processOFSwithOFSSourceIdResponse"/>
    </wsdl:message>
    <wsdl:message name="processOFSRequest">
        <wsdl:part name="parameters" element="ns:processOFS"/>
    </wsdl:message>
    <wsdl:message name="processOFSResponse">
        <wsdl:part name="parameters" element="ns:processOFSResponse"/>
    </wsdl:message>
    <wsdl:portType name="OFSConnectorServiceWSPortType">
        <wsdl:operation name="processOFSwithOFSSourceId">
            <wsdl:input message="axis2:processOFSwithOFSSourceIdRequest" wsaw:Action="urn:processOFSwithOFSSourceId"/>
            <wsdl:output message="axis2:processOFSwithOFSSourceIdResponse" wsaw:Action="urn:processOFSwithOFSSourceIdResponse"/>
        </wsdl:operation>
        <wsdl:operation name="processOFS">
            <wsdl:input message="axis2:processOFSRequest" wsaw:Action="urn:processOFS"/>
            <wsdl:output message="axis2:processOFSResponse" wsaw:Action="urn:processOFSResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OFSConnectorServiceWSSoap11Binding" type="axis2:OFSConnectorServiceWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="processOFSwithOFSSourceId">
            <soap:operation soapAction="urn:processOFSwithOFSSourceId" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processOFS">
            <soap:operation soapAction="urn:processOFS" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OFSConnectorServiceWSSoap12Binding" type="axis2:OFSConnectorServiceWSPortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="processOFSwithOFSSourceId">
            <soap12:operation soapAction="urn:processOFSwithOFSSourceId" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processOFS">
            <soap12:operation soapAction="urn:processOFS" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="OFSConnectorServiceWSHttpBinding" type="axis2:OFSConnectorServiceWSPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="processOFSwithOFSSourceId">
            <http:operation location="OFSConnectorServiceWS/processOFSwithOFSSourceId"/>
            <wsdl:input>
                <mime:content type="text/xml" part="processOFSwithOFSSourceId"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="processOFSwithOFSSourceId"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="processOFS">
            <http:operation location="OFSConnectorServiceWS/processOFS"/>
            <wsdl:input>
                <mime:content type="text/xml" part="processOFS"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="processOFS"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OFSConnectorServiceWS">
        <wsdl:port name="OFSConnectorServiceWSHttpSoap11Endpoint" binding="axis2:OFSConnectorServiceWSSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/OFSConnectorServiceWS"/>
        </wsdl:port>
        <wsdl:port name="OFSConnectorServiceWSHttpSoap12Endpoint" binding="axis2:OFSConnectorServiceWSSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/OFSConnectorServiceWS"/>
        </wsdl:port>
        <wsdl:port name="OFSConnectorServiceWSHttpEndpoint" binding="axis2:OFSConnectorServiceWSHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/OFSConnectorServiceWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
